# $\text{Tuple}$
___
Tuple is a built-in object type in python which resembles list. The basics of tuple in this lesson are:
 * Tuple bsics
  - Constructions
  - Indexing
  - Unpacking
 * Immutable Vs Mutable

## $\text{Tuple basics}$
We can construct tuples by calling the function <a>tuple</a>(iterable) or by the parentheses(). Here are few examples of tuple definition.

### $\text{Constructions}$

In [ ]:
lst=[0,5,10,15,20,25,30]
tup_from_list=tuple(lst)

In [ ]:
print('This is ',type(tup_from_list),'with value ',tup_from_list)

This is  <class 'tuple'> with value  (0, 5, 10, 15, 20, 25, 30)

In [ ]:
tup_from_range=tuple(range(0,50,5))
print('This is ',type(tup_from_range),'with value ',tup_from_range)

This is  <class 'tuple'> with value  (0, 5, 10, 15, 20, 25, 30, 35, 40, 45)

In [ ]:
tup_parentheses=(0,5,10,15,20)
print('This is ',type(tup_parentheses),'with value ',tup_parentheses)

This is  <class 'tuple'> with value  (0, 5, 10, 15, 20)

Elements in tuples can be different in type, like list.

In [ ]:
tup_diff=(1,1.00,'hello')
print('This is ',type(tup_diff),'with value ',tup_diff)

This is  <class 'tuple'> with value  (1, 1.0, 'hello')

Undoubtly, tuples containing tuples are allowed, like list inside list.

In [ ]:
tup_tup=(5,7,9,(5,7,9))
print('This is ',type(tup_tup),'with value ',tup_tup)

This is  <class 'tuple'> with value  (5, 7, 9, (5, 7, 9))

list containing tuples and vice versa are allowed.

In [ ]:
tup_in_list=[5,10,15,tup_tup]
print(tup_in_list)

[5, 10, 15, (5, 7, 9, (5, 7, 9))]

In [ ]:
list_in_tup=(1,2,3,4,[1,2,3,4])
print(list_in_tup)

(1, 2, 3, 4, [1, 2, 3, 4])

**Parentheses can be omitted in tuple construction**

In [ ]:
tup_wo_parentheses=1,2,[1,2,3,4]
print(type(tup_wo_parentheses),'\nvalue = ',tup_wo_parentheses)

<class 'tuple'>
value =  (1, 2, [1, 2, 3, 4])

### $\text{Indexing}$
Like <b>list</b>, index subscriptions are used to access the elements of tuples.

In [ ]:
tup=(0,1,2,3,4,5,6,7,8,9,10,11,12)

In [ ]:
tup[5]

5

Slicing the tuple is done the same way as list,

In [ ]:
tup[:5]

(0, 1, 2, 3, 4)

In [ ]:
tup[:7:2]

(0, 2, 4, 6)

### $\text{Unpacking}$
Tuple unpacking is the method to simultaneously assign each of tuple's element to many variables.

### $\text{Multiple assignment}$

## $\text{Immutable Vs Mutable}$

In object-oriented and functional programming such as python, an <b>immutable</b> object is an object whose state/structure <b>cannot be modified</b> after it is created. You will see an error when you try to change tuple's elements.

In [ ]:
tup= (0,1,2,3,4,5,6,7,8,9)

In [ ]:
tup[0]=50

TypeError: ignored

### $\text{Object ID}$

Try to guess what will be printed out before running the following cell.

In [ ]:
lst1=[0,1,2,3,4,5,6,7]
lst2=lst1
lst2[0]=100
print(lst1)

[100, 1, 2, 3, 4, 5, 6, 7]

What happens?

In [ ]:
lst1=[0,1,2,3,4,5,6,7]
lst2=lst1
lst2.append(30)
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 30]

Some may think 'this is totally weird'. We modified the element of <b>lst2</b> and then we printed <b>lst1</b> that is left untouched. However, the result shows that the modification made in lst2 affect lst1 too. The reason is lst1 and lst2 are <b>exactly the same</b> object.

In [ ]:
lst1=[0,1,2,3,4,5,6,7]
lst2=lst1
print('lst1 ID: ',id(lst1))
print('lst2 ID: ',id(lst2))

lst1 ID:  139891359624136
lst2 ID:  139891359624136

Function <a>id()</a> return the ID of object. The object with the same ID is one and the same thing. We can think of them as word in many languages.
<br><br>
The words of "Moon":
  * Thai: พระจันทร์
  * Spanish: luna
  * French: lune
  * Japanese: 月
  * Chinese: 月亮
  
All the words you use refer to the same thing. We can call an object with several names, but they refer to the same thing if their id collide. In above example, 'lst1' and 'lst2' are just the names that refer to the same object.


Every object in python own IDs which is generated by python in the workspace after an object is created.

In [ ]:
lst=[1,2,3]
print(id(lst))

139891358258568

In [ ]:
tup=(1,2,3)
print(id(tup))

139891358466840

### $\text{More on IDs}$
From list lesson, the following code

```
lst=lst+[3]
```
and
```
lst.append(3)
```
yield the same result. <br><br>
However, the result is just the tip of iceberg in programing. The following example are shown in two cells. Try observe the object ID for lst1 and lst2.

In [ ]:
lst1=[1,2,3]
lst2=[1,2,3]
print("Before\nlst1 = ",lst1,'\nlst2 = ',lst2) ##\n is newline command in string
print('lst1 assigned ID: ', id(lst1))
print('lst2 assigned ID: ', id(lst2))

lst1=lst1+[4]
lst2.append(4)

print("\nAfter\nlst1 = ",lst1,'\nlst2 = ',lst2)
print('lst1 modified ID: ', id(lst1))
print('lst2 modified ID: ', id(lst2))

Before
lst1 =  [1, 2, 3]
lst2 =  [1, 2, 3]
lst1 assigned ID:  139891357988680
lst2 assigned ID:  139891491011720

After
lst1 =  [1, 2, 3, 4]
lst2 =  [1, 2, 3, 4]
lst1 modified ID:  139891359536392
lst2 modified ID:  139891491011720

First, we see that ID of lst2 stay the same after modification while ID of lst1 changed. Calling append() method on list,

In [ ]:
lst1=[1,2,3]
print('Before: lst1 = ',lst1,' assigned ID: ', id(lst1))
lst1=lst1+[4]
print('After: lst1 = ',lst1,' modified ID: ', id(lst1))

lst2=[1,2,3]
print('\nBefore: lst2 = ',lst2,' assigned ID: ', id(lst2))
lst2.append(4)
print('After: lst2 = ',lst2,' modified ID: ', id(lst2))

Before: lst1 =  [1, 2, 3]  assigned ID:  139891358259016
After: lst1 =  [1, 2, 3, 4]  modified ID:  139891358039624

Before: lst2 =  [1, 2, 3]  assigned ID:  139891358259016
After: lst2 =  [1, 2, 3, 4]  modified ID:  139891358259016

In [ ]:
lst=[1,2,3]
print('Before: lst = ',lst,' assigned ID: ', id(lst))
lst[0]=100
print('After: lst = ',lst,' modified ID: ', id(lst))

Before: lst =  [1, 2, 3]  assigned ID:  140008832170696
After: lst =  [100, 2, 3]  modified ID:  140008832170696

### $\text{Immutable} \to \text{Tuple}$
We cannot change data structure within tuples.